div[data-onboarded-token] {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 24px 0;
    top: 0;
    background: rgba(34, 49, 63, 0.85); /* EBONY CLAY, 85% ð›¼ */
    z-index: 100;
}

div[data-onboarded-token] > div[data-onboarded-flow] {
    margin: 0.45em auto;
    position: relative;
    top: 9.5em;
    width: 32.5em;
    height: auto;
    padding: 1em 5.5em 2em;
    background: #C8F7C5; /* MADANG */
    border: 2px solid #16a085;
    border-radius: 16px;
    color: #D24D57; /* CHESTNUT ROSE */

    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

div[data-onboarded-flow="Product Tour"] h1 {
    color: #2C3E50; /* MADISON */
    font-weight: bold;
    font-size: 2.2em;
    line-height: 0.95em;
}

div[data-onboarded-flow="Product Tour"] h2 {
    font-size: 1.6em;
    line-height: 1.25em;
}

div[data-onboarded-flow="Product Tour"] p {
    font-size: 1.15em;
    line-height: 1.25em;
}

div[data-onboarded-flow="Product Tour"] button {
    padding: 0.7em 1.4em;
    cursor: pointer;
    color: #ECF0F1; /* PORCELAIN */
    background-color: #03A678;
    border: 0.2em solid #1E824C;
    border-radius: 5px;
    -webkit-transition: all 200ms ease-in-out;
       -moz-transition: all 200ms ease-in-out;
         -o-transition: all 200ms ease-in-out;
            transition: all 200ms ease-in-out;
    }
    div[data-onboarded-flow="Product Tour"] button:hover,
    div[data-onboarded-flow="Product Tour"] button:active {
        color: #D2D7D3; /* PUMICE */
        background-color: #049372;
        border-color: #16A085;
    }

.highlighted {
    cursor: default;
    position: absolute;
    z-index: 1000;
    -webkit-box-shadow: 2px 2px 24px 8px #E4F1FE; /* ALICE BLUE */
       -moz-box-shadow: 2px 2px 24px 8px #E4F1FE; /* ALICE BLUE */
            box-shadow: 2px 2px 24px 8px #E4F1FE; /* ALICE BLUE */
    }
    .highlighted a { cursor: default; }
    .icon.heart.highlighted {
        position: absolute !important;
        z-index: 1000 !important;
        -webkit-box-shadow: 7px 3px 24px 8px #E4F1FE !important; /* ALICE BLUE */
           -moz-box-shadow: 7px 3px 24px 8px #E4F1FE !important; /* ALICE BLUE */
                box-shadow: 7px 3px 24px 8px #E4F1FE !important; /* ALICE BLUE */
    }
    #search input[type=search].highlighted:focus {
        cursor: default !important;
        background: #C8F7C5 !important; /* MADANG */
        width: 150px !important;
    }